<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Книги</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
    <!--    <a class="navbar-brand" href="#"></a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/books">Список книг</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/book/add">Добавить книгу</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
{#<div class="container-lg">#}
{#    <table class="table">#}
{#      <thead>#}
{#        <tr>#}
{#          <th scope="col">#</th>#}
{#          <th scope="col">ФИО</th>#}
{#          <th scope="col">Должность</th>#}
{#          <th scope="col">Телефон</th>#}
{#        </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#        <tr>#}
{#          <th scope="row">1</th>#}
{#          <td>Юдин Феликс Геласьевич</td>#}
{#          <td>Менеджер по продажам</td>#}
{#          <td>+7 987-654-32-10</td>#}
{#        </tr>#}
{#        <tr>#}
{#          <th scope="row">2</th>#}
{#          <td>Красильников Семен Альвианович</td>#}
{#          <td>Юрист</td>#}
{#          <td>+7 987-654-32-10</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <th scope="row">3</th>#}
{#            <td>Бурова Силика Витальевна</td>#}
{#            <td>Делопроизводитель</td>#}
{#            <td>+7 987-654-32-10</td>#}
{#        </tr>#}
{#      </tbody>#}
{#    </table>#}
{#</div>#}
</body>
</html>
