{% extends "./base.html" %}


{% block content %}
    <form method="get" action="{% url 'core:books' %}">
        <p>Filter: <input type="text" value="{{filter}}" name="filter"/></p>
        <p><input type="submit"/></p>
    </form>
    {% for book in object_list %}
        <li>{{ book.title }} - {{ book.author }} (<a href="book/{{ book.id }}">Перейти</a>)</li>
    {% empty %}
    <li>No books yet.</li>
{% endfor %}
{% endblock %}

