{% extends "./base.html" %}


{% block content %}
    <p>
        {{ book.title }} - {{ book.author }}
    </p>
    <p>
        Жанр: {{ book.genre }}
    </p>
    <p>
        Кол-во страниц: {{ book.pages }}
    </p>

{% endblock %}

